<div>
    <% if(typeof message !== undefined){ %>
        <p style="color : red;"><%= message%></p>
    <%}%>
</div>
<form action="/register" method="POST">
    <div>
        <label for="surname">Surname:</label>
        <input id="surname" type="text" name="surname">
    </div>
    <div>
        <label for="firstname">Firstname:</label>
        <input id="firstname" type="text" name="firstname">
    </div>
    <div>
        <label for="email">Email:</label>
        <input id="email" type="email" name="email">
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password">
    </div>
    <div>
        <label for="confirm_password">Confirm Password:</label>
        <input id="confirm_password" type="password" name="confirm_password">
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>
<a href='/login'>LogIn</a>